---
layout: default
title: Tokyo Ultimate
category: homepage
---

<!-- Banner -->
	<div id="banner">
		<h2>Who are we?</h2>
		<span class="byline">
			IKU and kuru are coed ultimate frisbee teams based in Tokyo, Japan.
			We play in tournaments both in Japan and around Asia.
		</span>
		<br>
		<h2>Passionate about Ultimate? New to Ultimate?</h2>
		<span class="byline">
			Whether you are a seasoned veteran or have never thrown a disc, 
			are a long-term resident or are just passing through Japan, we 
			welcome you to join us at our bi-weekly pickup sessions. We 
			look forward to introducing you to our brand of high-spirited 
			ultimate. Scroll down for more info on when and where we play.
		</span>
	</div>

<!-- Play -->
	<div id="play">
		
	</div>
	
	
<!-- Gallery -->	
	<div id="gallery">
		{% for gallery in site.categories.galleries %}
		<!-- 
			Show key picture.
			Show title.
			Show subtitle.
			Use Helios Carousel style.
			Links to: flickr page?
			So each gallery item basically only needs to be front matter, no content.
		-->
		{% endfor %}
	</div>



	<!-- 
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
 -->
 
