---
layout: default
title: Tokyo Ultimate Fields
category: fields
---

<!-- Fields -->

<div class="wrapper style1">

  {% for field in site.data.fields %}
  <!-- <div id="{{ field.title }}"> -->
  	<div class="container">
  		<div class="row">
  			<div class="12u skel-cell-important" id="content">
  				<article id="{{ field.title }}" class="special">
          <!-- <article id="main" class="special"> -->
  					<header>
  						<h2><a href="#{{ field.title }}">{{ field.title }} - {{ field.subtitle }}</a></h2>
  						<span class="byline">
  							{{ field.schedule }}
  						</span>
  					</header>
  					<a href="/images/{{ field.images }}" class="image featured"><img src="/images/{{ field.images }}" alt="" /></a>
            {% for p in field.schedule_details %}
    					<p>{{ p }}</p>
            {% endfor %}
            {% for map in field.maps %}
            <section>
              <header>
                <h3>{{ map.title }}</h3>
              </header>
              <iframe src="{{ map.link }}" height=600 class="image featured"></iframe>
              {% for p in map.description %}
                <p>{{ p }}</p>
              {% endfor %}
            </section>
            {% endfor %}
  					<section>
              <header><h3>Directions</h3></header>
  						<p>
                {{ field.directions }}
  						</p>
  					</section>
  					<section>
  						<header>
  							<h3>Equipment</h3>
  						</header>
  						<p>
                {{ field.equipment }}
              </p>
  					</section>
  				</article>
  			</div>
  		</div>
  		<hr />
    </div>
  <!-- </div> -->
  {% endfor %}
</div>